{% extends "base.jinja2" %}

{% block mainnav %}
<ul class="flexbox list-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock mainnav %}

{% block content %}
<form class="flexbox entry-form" method="POST">
    {{ form.title.label }} {{ form.title() }}
    {{ form.text.label }} {{ form.text() }}
    <button type="submit">Submit Entry</button>
</form>
{% endblock content %}
