<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/normalize.css" type="text/css" rel="stylesheet"  />
    <link href="/styles/lj.css" type="text/css" rel="stylesheet"  />
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav class="flexbox main-nav">
            <h1>Joe McClenahan</h1>
            <ul class="flexbox list-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">New Entry</a></li>
                <li><a href="#">Edit Entry</a></li>
            </ul>
        </nav>
        <h1>{{ title }}</h1>
    </header>
    <main class="flexbox post-container">
        {% block content %}
        {% endblock content %}
    </main>
</body>
<footer>

</footer>
</html>
